*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:auto;
    background-color:white;
    justify-content: center;
    background-color:rgb(16, 161, 166);
}

li{
    float: left;
}
li a{       
    display: block;
    color: black;
    text-align: center;
    padding: 14px  20px;
    text-decoration:none;
    font-size: large;
    font-weight: bold;
}

li:hover{
    background-color: cadetblue;
}

#img1{
    float: left;
    margin-right: 600px;
    border-radius: 50%;
    margin-left: 100px;
}
#differ{
    float: left;
    margin-left: -600px;
    margin-top: -14px;
    font-size: 24px;
}

#simple{
    font-size: 15px;
}



header{
    width: 100%;
    height: 50px;
}

.callcase{
    float: left;
}

.callcase2{
    float: left;
    margin-left: 120px;
}
#imgnurse{
    opacity: 0.8;
    
}

.container2{
    position: relative;
    text-align:left;
    color: black;
}


.abouttext{
    position: absolute;
    top: 20%;
    left: 100px;
    float: left;   
    font-size: 28px;
    font-weight:600;
    width: 80%;
    color: black;
}

footer {
    text-align: center;
    padding: 35px;
    background-color: rgb(16, 161, 166);
    color: white;
    font-size: 20px;
}

.about-section{
    background :url(nurseabout.jpg) no-repeat left;
    opacity: 8.0;
    background-size: 70%;
    background-color: rgb(150, 237, 240);
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #e0d6d6;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 15px;
    color: #161212;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
p.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
    color: rgb(172, 134, 109);
    font-size: 18px;
}